# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

<Files xmlrpc.php>
Require all denied
</Files>

<Files wp-config.php>
Require all denied
</Files>

<FilesMatch "^(\.htaccess|\.htpasswd|\.env|readme\.html|license\.txt)$">
Require all denied
</FilesMatch>

<FilesMatch "^wp-content/uploads/.*\.php$">
    Require all denied
</FilesMatch>

Options -Indexes
